mk2-site/node_modules/

# Ignore all log files in Airflow
airflow-docker/logs/*
!airflow-docker/logs/.gitkeep
/demo_2/lgbtq_rag_system/.buildx-cache

# Ignore all .env files (holding API keys and other sensitive info)
airflow-docker/.env
demo_2/lgbtq_rag_system/model/.env